.messages-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  margin-left: 200px;
  margin-bottom: 100px;
  margin-top: 65px;
}

.message-list-item {
  min-height: 40px;
  width: 100%;
  position: relative;
}

.message-user-img-row {
  display: flex;
  height: 40px;
  padding-left: 15px;
  align-items: center;
  position: relative;
}

.message-list-item:hover {
  background-color: #f8f8f8;
}

.msg-content {
  padding: 5px 0px 5px 70px;
  display: flex;
  justify-content: space-between;
}
.edit-message {
  margin-right: 50px;
  border: 1px solid #616061;
  border-radius: 4px;
  width: 50px;
  background-color: white;
  text-align: center;
  transition: 300ms;
  z-index: 2;
  position: absolute;
  top: -10%;
  right: 10%;
}

.edit-message:hover {
  border: 1px solid #1d1c1d;
  cursor: pointer;
}


.msg-user-time {
  font-size: .75em;
  color: #616061;
  align-self: flex-end;
  margin: 0 5px 0 5px;
}

.new-user-divider {
  border-top: 1px solid #1d1c1d;
  width: 100%;
}


.msg-user-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 5px;
}

.name-time {
  display: flex;
  flex-direction: row;
  margin: 0 10px 0 10px;
  justify-content: space-around;
}

.avatar-img {
  width: 36px;
  height: 36px;
  border-radius: 3px;
}

.avatar-img:hover {
  cursor: pointer;
}

.msg-username:hover {
  text-decoration: underline;
}

.dummy-greeting {
  margin-left: 220px;
}

.msg-input-form {
  position: fixed;
  bottom: 0px;
  background-color: white;
  margin-left: 250px;
}

.msg-bar-wrapper {
  height: 50px;
  width: calc(90vw - 225px);
  margin-bottom: 50px;
  border: 2px solid rgb(221,221,221);
  border-radius: 5px;
  box-shadow: none;
  font-size: 15px;
  line-height: 1.2rem;
  color: #1d1c1d;
  display: flex;
}


.msg-plus-icon {
  width: 50px;
  min-width: 50px;
  border-right: 2px solid rgb(221,221,221);
  border-top: none;
  border-bottom: none;
  border-left: none;
  background-color: white;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
}

.msg-plus-icon:hover {
  background: #56b68b;
  color: #fff;
  border-color: #007a5a
}

.msg-bar {
  margin: 0 0 40px 0;
  padding: 0 0 0 1%;
  width: 90%;
  height: 100%;
  border: none;
  line-height: 1.5;
  font-size: 1.25em;
}

.msg-bar:focus {
  outline: 0;
}

.top-nav-wrapper {
  position: fixed;
  top: 0;
  margin-left: 212px;
  background-color: white;
  height: 60px;
  width: 90vw;
  border-bottom: 1px solid rgb(197,183,198);
  z-index: 10;
  display: flex;
}

.top-nav-left {
  width: 25%;
  margin: 0 15% 0 2%;
  align-self: flex-start;
}

.main-top-nav-header {
  font-size: 1.5em;
  font-weight: 700;
  color: #1d1c1d;
}

.top-nav-memberlist {
  display: flex;
}
#star-icon {
  padding-right: 10px;
}

/* sidebar */

.sidebar-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 220px;
  height: 100%;
  background-color: #4a154b;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.sidebar-container > div {
  margin-bottom: 8%;
}

.sidebar-chats-wrapper {
  display: flex;
  height: 75%;
  flex-direction: column;
}

.sidebar-sign-out {
  font-size: .8em;
  font-weight: 300;
  color: rgb(197,183,198);
  transition: 300ms;
}

.sidebar-sign-out:hover {
  font-weight: 500;
  color: white;
  cursor: pointer;
}

.sidebar-main-header {
  font-size: 1.5em;
  font-weight: 700;
  color: white;
  padding-top: 10px;
  padding-left: 15px;
}

.sidebar-subtitle {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

.sidebar-current-user {
  font-size: 1em;
  color: rgb(197,183,198);
  padding: 0 15px;
}

.sidebar-channelName-wrapper, .sidebar-channels-wrapper, .sidebar-dms-wrapper {
  display: flex;
  flex-direction: column;
}

.sidebar-channels-header, .sidebar-dms-header {
  color: rgb(197,183,198);
  font-size: 1em;
  transition: 300ms;
  padding-left: 10px;
}

.sidebar-dms-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-right: 15px;
}

.sidebar-channels-header:hover, .sidebar-dms-header:hover,
.sidebar-current-user:hover {
  color: white;
}

.sidebar-channelName-wrapper:hover,  
.channel-li:hover {
  background-color: #3f0e40;
}

.current-channel:hover {
  background-color: #1264a3; 
}

.sidebar-channel-name {
  color: rgb(197,183,198);
  font-size: 1em;
  transition: 300ms;
  padding: 3px 3px 3px 0px;
  display: flex;
  flex-direction: column;
}

.sidebar-channel-name:hover {
  color: white;
}

.channel-li {
  padding: 3px 0px 3px 0px;
}

.edit-message-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-left: 75px;
}

.edit-message-bar {
  border: 1px solid #868686;;
  border-radius: 5px;
  min-height: 40px;
  overflow: auto;
  box-shadow: none;
  color: #1d1c1d;
}

.edit-msg {
  background-color: #f8f8f8;
}

.edit-message-buttons-container {
  display: flex;
  margin-top: 5px;
  margin-bottom: 10px;
}

.cancel-edit-message {
  padding: 5px 8px;
  font-weight: 400;
  border: 1px solid rgba(29,28,29,.3);
  border-radius: 4px;
  color: #1d1c1d;
  margin-right: 8px;
}

.cancel-edit-message:hover,
.edit-message-button {
  cursor: pointer;
}

.edit-message-button {
  background-color: #007a5a;
  border: none;
  border-radius: 4px;
  color: white;
  margin-right: 8px;
}

.delete-message-button {
  background-color: #e01e5a;
  border: none;
  border-radius: 4px;
  color: white;
}

/* advanced sidebar */

.sidebar-jumpto-container {
  display: flex;
  justify-content: flex-start;
  background-color: rgb(38,0,39);
  color: rgb(197,183,198);
  padding: 5px;
  width: 80%;
  border-radius: 4px;
  margin: 0 10px;
}

.all-threads {
  color: rgb(197,183,198);
  padding: 3px 3px 2px 10px;
  transition: 300ms;
}

.all-threads:hover {
  background-color: #3f0e40;
  color: white;
}

.fa-comments {
  margin-right: 8px;
}
.fa-bell {
  transition: 300ms;
}
.fa-bell:hover {
  color: white;
}

.fa-plus {
  font-size: 10px;
  font-weight: 10;
}

.channels-list {
  list-style: none;
  padding-left: 0;
  margin-top: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}

.channel-link {
  color: rgb(197,183,198);
  text-decoration: none;
  padding-left: 10px;
}

.dm-link {
  padding-left: 20px;
}

.current-channel {
  background-color: #1264a3;
  padding-left: 0px;
}

.selected-link {
  font-weight: 800;
  color: white;
}

.fa-chevron-down {
  font-size: 8px;
  margin-left: 5px;
  color: rgb(197,183,198);
}

.fa-bell {
  font-size: 1.3em;
  color: rgb(197,183,198);
  margin-right: 10px;
}

.channelName-top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.fa-search {
  margin-right: 8px;
}

.top-nav-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin-right: 3%;
}

.top-nav-right-1 {
  display: flex;
}

.top-nav-right-1 > i,
.top-nav-right-3 {
  margin: 5px;
}

.top-nav-right-2 {
  width: 60%;
  border: 1px solid rgb(197,183,198);
  border-radius: 4px;
  height: 40px;
  display: flex;
}

.top-nav-right-2 > input {
  border: none;
  align-self: center;
  outline: 0;
  margin-left: 12px;
}

.top-nav-search-icon {
  align-self: center;
  margin-left: 15px;
  color: rgb(197,183,198);
}
.top-nav-right-3 {
  display: flex;
}

.top-nav-right-3 > i {
  margin: 5px;
}

.fa-phone {
  color: rgb(197,183,198);
}

.channel-btn {
  padding: 3px;
}

.channel-edit-li {
  display: flex;
  justify-content: space-around;
}

.add-channel {
  margin-bottom: 5%;
  margin-left: 10px;
}

.add-channel-input {
  margin: 0 0 5px 10px;
  border-radius: 4px;
  height: 35px;
  border: 1px solid rgb(197,183,198);
  outline: 0;
  width: 90%;
}

.add-channel-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.fa-plus {
  margin-right: 5px;
}

.fa-plus:hover {
  cursor: pointer;
}

.fa-plus-circle {
  margin-left: 25px;
}

/* user thumbnail */


.user-thumbnail-wrapper {
  display: block;
  opacity: 1;
  z-index: 25;
  background-color: white;
  height: 300px;
  border-radius: 4px;
  border: 2px solid black; 
  position: absolute;
  top: -15%;
}

.thumbnail-content {
  text-align: center;
}

.popup-avatar {
  width: 200px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.thumbnail-heading {
  margin: 0;
}

.hidden-dms {
  display: none;
}

.dm-users {
  display: block;
  position: absolute;
  left: 500px;
  top: 200px;
  height: 300px;
  overflow-y: scroll;
  width: 400px;
  z-index: 197;
  text-align: center;
}

.dm-user-list {
  list-style-type: none;
}

.dm-list {
  margin-top: 5px;
  overflow-y: auto;
}