.messages-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  margin-left: 200px;
}

.message-list-item {
  min-height: 40px;
  padding-left: 70px;
  width: 100%;
}

.message-list-item:hover {
  background-color: #f8f8f8;
}

.msg-user-time {
  font-size: .75em;
  color: #616061;
  align-self: flex-end;
  margin: 0 5px 0 5px;
}

.new-user-divider {
  border-top: 1px solid #1d1c1d;
  width: 100%;
}

.sidebar-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 220px;
  height: 100%;
  background-color: #3f0e40;
  overflow-x: hidden;
}

.msg-user-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 5px;
}

.name-time {
  display: flex;
  flex-direction: row;
  margin: 0 10px 0 10px;
  justify-content: space-around;
}

.avatar-img {
  width: 36px;
}

.dummy-greeting {
  margin-left: 220px;
}

.msg-input-form {
  position: absolute;
  width: 100%;
  border-radius: 4px;
}

.msg-bar {
  margin-left: 310px;
  width: 80%;
  max-width: 800px;
}