.workspaces-btn {
  padding: 10px;
}
.logo-main {
  width: 75px;
}

.landing-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left-1 {
  display: flex;
  align-items: center;
  margin-right: 12%;
}

.nav-left-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-left-2 > p {
  margin: 6px;
  color: #708090;
}

.nav-left-2 > p:hover {
  color: #000;
}

.nav-right {
  display: flex;
  justify-content: space-between;
}

.splash-header {
  font-size: 4em;
  text-align: center;
  position: absolute;
  top: 0%;
  left: 29%;
  z-index: 2;
}

.splash-container {
  width: 80%;
  margin: 0 auto;
  position: relative;
  height: 100vh;
}

.splash-form-container {
  width: 37.5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 25%;
  right: 0%;
}

.splash-email-input-container {
  display: flex;
  flex: row;
  justify-content: flex-start;
  width: 100%;
}

.splash-paragraph {
  line-height: 1.5em;
}

.splash-btn {
  margin-left: 4%;
  padding: 10% 15% 10% 15%;
  width: 125%;
  height: 100%;
  letter-spacing: 2px;
}

.splash-input {
  width: 50%;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: none;
  margin: 0;
  padding: 4%;
  min-width: 100px;
}

.splash-input:focus {
  outline: 0;
}

.splash-signin-link {
  color: #1264a3
}

.splash-signin-link:visited {
  color: #1264a3
}

.splash-img-left, .splash-img-right {
  width: 22%;
  min-width: 100px;
  filter: grayscale(100%);
  position: absolute;
  opacity: 0.8;
}

.splash-img-left {
  top: 16%;
  left: 12%;
}

.splash-img-center {
  position: absolute;
  width: 35%;
  min-width: 200px;
  top: 25%;
  left: 25%;
}

.splash-img-right {
  bottom: 13%;
  right: 16%;
}

.splash-img {
  transition: ease-in-out 750ms;
}
