/* nav */
.workspaces-btn {
  padding: 10px;
}
.logo-main {
  width: 65px;
}

.landing-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-left-1 {
  display: flex;
  align-items: center;
  margin-right: 12%;
}

.nav-left-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-left-2 > p {
  margin: 15px;
  color: #708090;
}

.nav-left-2 > p:hover {
  color: #000;
}

.nav-right {
  display: flex;
  justify-content: flex-start;
}
/* splash */
.splash-header {
  font-size: 4em;
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row: 1;
  max-height: 100px;
  z-index: 3;
  color: #1d1d1d;
}

.splash-container {
  width: 65%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 10% 7.5% 37.5% 5% 2.5% 20% 17.5%;
  grid-template-rows: 15% 5% 4% 14% 2% 10% 2% 4% 4% 6% auto;
  height: 80vh;
  min-height: 800px;
}

.splash-paragraph {
  grid-row: 3;
  grid-column-start: 6;
  grid-column-end: 8;
  color: #454545;
  max-width: 48rem;
  line-height: 1.4;
}

.splash-link {
  grid-row: 4;
  grid-column: 7;
}

.splash-btn {
  width: 120%;
  letter-spacing: 2px; 
  height: 50px;
  margin-left: 10px;
}

.splash-email-wrapper {
  grid-row: 6;
  grid-column: 6;
  grid-column-end: 8;
}

.splash-email-form {
  display: flex;
  flex-direction: column;
}

.splash-email {
  display: flex;
  flex-direction: row;
}

.splash-input {
  height: 100%;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: none;
  margin: 0;
  padding: 4%;
  height: 50px;
  width: 55%;
  min-width: 100px;
  font-size: 1.2em;
}

.splash-input:focus {
  outline: 0;
}

.splash-footnote {
  grid-column: 6;
  grid-row: 5;
  font-size: .9em;
}

.splash-signin-link {
  color: #1264a3
}

.splash-signin-link:visited {
  color: #1264a3
}

.splash-errors {
  grid-column: 6;
  grid-row: 4;
  background-color: #fdf8f8;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 150%;
  height: 50%;
  align-self: end;
  z-index: 2;
}

.splash-img-left, .splash-img-right {
  filter: grayscale(100%);
  opacity: 0.8;
}

.splash-img-left {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  width: 115%;
}

.splash-img-center {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 7;
  justify-self: start;
  z-index: 2;
  width: 100%;
}

.splash-caption {
  grid-column: 3;
  grid-column-end: 5;
  grid-row: 11;
  color: #696969;
  z-index: 2;
}

.splash-img-right {
  grid-row: 8;
  grid-column: 6;
  width: 125%;
}

.main-img {
  width: 100%;
}

.splash-img {
  transition: ease-out 250ms;
}

.fade {
  opacity: 0;
  transform: scale(0);
  transform-origin: left top;
}

@media only screen and (max-width: 1550px) {
  .splash-header {
    font-size: 3.5em;
    grid-column-end: 8;
  }

  .splash-paragraph {
    font-size: 1em;
  }
}

 @media only screen and (max-width: 1060px) {
  .splash-header {
    font-size: 2.5em;
  }
  
  .splash-paragraph {
    font-size: .8em;
  }
} 
 
@media only screen and (max-width: 850px) {
  .splash-header {
    font-size: 2em;
  }
  .nav-left-2 {
    display: none;
  }
}


@media only screen and (max-width: 600px) {
  .splash-paragraph {
    grid-row: 2;
  }
}

@media only screen and (max-width: 600px) {
  .splash-img-right {
    grid-row: 2;
  }

  .splash-paragraph {
    grid-row: 4;
  }

  .splash-email-wrapper {
    grid-row: 9;
    grid-column: 2;
  }

  .splash-footnote {
    grid-row: 10;
    grid-column-start: 2;
    grid-column-end: 4;
    width: 300%;
  }
}